header
    background #333
    .center
        padding 18px 0
        display flex
        align-items center
        justify-content space-between
        +mobile()
            flex-direction column
    h2
        sarabun 36
        color #97CFC5
        margin 0
        flex 1
        span
            display block
            font-size $rem(18)
            margin-top .5em
        +tablet()
            font-size $rem(26)
            span
                font-size $rem(16)
        +mobile()
            font-size 24px
            margin-bottom .6em
            text-align center
            span
                font-size $rem(14)
    .logo
        display block
        width 156px
        height 200px
        flex-shrink 0
        background $img('marca-PA-selo-preto.svg') no-repeat center
        text-indent -9999px
        +tablet()
            width 120px
            height 153px
            background-size 100% auto
        +mobile()
            order -1
            width 80px
            height 103px
            margin-bottom 20px
            background-size 100% auto
    .center > div
        flex 1
        color #fff
        text-align right
        align-self flex-start
        padding-top 65px
        +tablet()
            padding-top 50px
        h1
            sarabun 36
            margin 0
            +tablet()
                font-size $rem(26)
        p
            sarabun 14
            margin .5em 0 0
            a:hover
                color $verde
        +mobile()
            width 100%
            text-align center
            padding-top 0
            h1
                font-size 20px

nav
    background $verde
    border-top 1px solid $verde
    margin-top -2px
    .center
        display flex
        +mobile()
            flex-direction column
    a
        sarabun 15
        color #fff
        padding $rem(10) $rem(16)
        transition background .3s
        &.active
        &:hover
            background #333
        + a
            margin-left $rem(10)
            +mobile()
                margin-left 0

main
    margin $rem(45) 0 $rem(105)
