.file-input
  display block
  height 55px
  background #fff
  text-align center
  line-height 55px
  border 1px solid $verde
  color $verde
  cursor pointer
  position relative
  sarabun 15 bold
  span
    display block
    width calc('100% - 20px')
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    margin 0 auto
    &.ativo
        font-weight bold
  input
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    z-index -1
