.table-wrapper
  width 100%
  +below($tablet)
    overflow-x auto
  table
    min-width $rem(768)

.table
    width 100%
    border-spacing 5px
    border-collapse separate
    &.table-md
        max-width $rem(890)
        margin 0 auto
    tr[data-href]
        cursor pointer
        transition background .3s
        &:hover
            td
                background #666
                color #fff
    td
        background $verdeBg
        padding 14px
        vertical-align middle
        sarabun 15
        color #666
        transition color .3s, background .3s
        &.handle-ordem
            background #97CFC5
        &.stretch
            width 100%
        &.no-padding
            padding 4px 14px
        &.categoria
            background $verde
            color #fff
            font-weight bold
            text-align center
        &.controls
            white-space nowrap
        &[data-href]
            cursor pointer
            transition background .3s
            &:hover
                background #666
    .placeholder
        td
            background rgba($verdeBg, .3)
            border 0 !important
            margin 0 5px
    .btn-ordem
        display block
        width 21px
        height 21px
        text-indent -9999px
        background $img('ico-mover.png') no-repeat center
    .icone-excluir
        display inline-block
        width 20px
        height 20px
        text-indent -9999px
        background $img('ico-excluir.png') no-repeat center #FF0000
        transition background .3s
        border-radius 100%
        &:hover
            background-color darken(#ff0000, 10)
        &.disabled
            opacity .4
            background-color #666
    .icone-editar
        display inline-block
        width 20px
        height 20px
        text-indent -9999px
        background $img('ico-editar.png') no-repeat center #5aa017
        background-size 10px 10px
        transition background .3s
        border-radius 100%
        &:hover
            background-color darken(#5aa017, 10)
    .icone-permissoes
        display inline-block
        width 20px
        height 20px
        text-indent -9999px
        background $img('ico-permissoes.png') no-repeat center 43% #178da0
        background-size 10px 10px
        transition background .3s
        border-radius 100%
        &:hover
            background-color darken(#178da0, 10)
    .arquivo-wrapper
        display flex
        align-items center
    .icone-arquivo
        display inline-block
        width 42px
        height 42px
        text-indent -9999px
        background $img('ico-arquivo.png') no-repeat center #fff
        border-radius 100%
        margin-right 10px
        vertical-align middle
        + span
            display inline-block
            vertical-align middle
    .icone-inspecao
        display inline-block
        width 42px
        height 42px
        text-indent -9999px
        background $img('ico-emprocesso.png') no-repeat center #fff
        border-radius 100%
        margin-right 10px
        vertical-align middle
        + span
            display inline-block
            vertical-align middle
