footer
    background $verdeBg
    padding-top $rem(10)
    position relative
    &:before
        content ''
        position absolute
        width 100%
        height 2px
        top 8px
        background $verde
    .center
        padding $rem(20) 0
        display flex
        justify-content space-between
        +mobile()
            display block
        .links
            a
                display block
                sarabun 13 bold
                color $verdeText
                white-space nowrap
                text-transform uppercase
                + a
                    margin-top 1em
            margin-right $rem(40)
            +below($tablet)
                display none
        .acert
            margin 0 auto
            text-align center
            flex-shrink 0
            +below($tablet)
                margin-left 0
            +mobile()
                text-align left
                .social
                    display inline-flex
            .link-sistema
                display inline-block
                border 1px solid $verde
                sarabun 13 bold
                color $verdeText
                padding 12px 18px
                transition .2s
                &:hover
                    background $verde
                    color #fff
            img
                display block
                margin 25px auto
                width 185px
                +mobile()
                    margin 25px 0
        .informacoes
            +mobile()
                margin-top 25px
            .telefone
                sarabun 16 bold
                padding-left 24px
                background $img('ico-whatsapp.svg') no-repeat left center
                margin 0 0 1em
            .endereco
                sarabun 14
                line-height 1.5
            .copyright
                border-top 1px solid $verde
                margin-top $rem(20)
                padding-top $rem(12)
                p
                    sarabun 9
                    margin 0
                    a:hover
                        color $verde
                    + p
                        margin-top .5em

.social
    display flex
    justify-content center
    a
        width 16px
        height 16px
        margin-left 4px
        text-indent -9999px
        background-repeat no-repeat
        background-position center
        &.linkedin
            background-image $img('ico-linkedin.svg')
        &.instagram
            background-image $img('ico-instagram.svg')
        &.facebook
            background-image $img('ico-facebook.svg')
        &.twitter
            background-image $img('ico-twitter.svg')
