.header-mobile
    background #333333
    +above($tablet)
        display none
    .center
        display flex
        justify-content space-between
        align-items center
        padding $rem(16) 0
        > div
            display flex
            flex-direction column
            align-items flex-end
            justify-content space-between
    .logo
        img
            width 80px
    .social
        display inline-flex
        margin-bottom 20px
    #mobile-toggle
        background-color transparent
        border 0
        position relative
        width 28px
        height 20px
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 4px
            background $verde
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $verde
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)

#nav-mobile
    display none
    background #4d4d4d
    padding $rem(24) 0
    +above($tablet)
        display none !important
    a
        display block
        text-align right
        text-transform uppercase
        sarabun 15
        color #fff
        &.active
            color $verde
            font-weight bold
        + a
            margin-top .5em

.header-desktop
    +below($tablet)
        display none
    .top-bar
        background #4d4d4d
        .center
            display flex
            align-items center
            justify-content center
        nav
            display flex
            margin-right 36px
            a
                display inline-block
                sarabun 16
                color #fff
                padding 10px 24px
                transition background .2s
                &:hover
                &.active
                    background $verde
                + a
                    margin-left 12px
    .main
        background #333
        .center
            display flex
            min-height 200px
            align-items center
            justify-content space-between
        .col
            flex 1
            a
                display block
                width 100%
                padding 11px
                sarabun 18 bold
                color #98CDC3
                text-transform uppercase
                transition .2s
                background-image $img('icone-bullet-acert.svg')
                background-repeat no-repeat
                &:hover
                &.active
                    background-color $verde
                    background-image $img('icone-bullet-acert-white.svg')
                    color #fff
                + a
                    margin-top 4px
            &:first-child
                a
                    text-align right
                    padding-right 60px
                    background-position center right 10px
            &:last-child
                a
                    padding-left 60px
                    background-position center left 10px
        .logo
            flex-shrink 0
            width 156px
            align-self stretch
            position relative
            margin 0 50px
            img
                position absolute
                display block
                width 100%
                height auto
                left 0
                bottom 20px
