.wraps3
    max-width: 250px
    margin-left: auto
    margin-right: auto    
    .f_logo
        margin-top: 35px
        width: 230px
        height: auto
        margin-bottom: 40px
        img
            width: 100%
            height: 100%
    .direitos
        padding-bottom: 25px
        p
            sarabun 10
            text-align: center
            margin: 0
            padding: 0