.c_header
    background-color: $dark
    .wraps
        max-width: 1300px
        margin-left: auto
        margin-right: auto
        display: flex
        column-gap: 60px
        +below(1500px)
            margin-left: 10%
        +below(1000px)
            flex-direction: column;
            align-items: center;
            margin-left: auto
            padding-bottom: 35px;
        .image
            margin-top: 30px
            width: 150px
            height: 150px
            margin-bottom: 20px
            +below(1000px)
                width: 100px
                height: 100px
                margin-bottom: 0
            img
                width: 100%
                height: 100%
        
        .search_tab
            max-width: 540px
            margin-top: 10px
            +below(1000px)
                max-width: 220px
            h1
                sarabun 32
                color: $verde
                font-weight: 600
                +below(1000px)
                    font-size: 20px
                    line-height: 1.5;
                    text-align: center;
            .campo
                position: relative
                .search
                    width: 500px
                    height: 40px
                    border: 0
                    border-radius: 4px
                    color: $verde
                    padding-left: 20px
                    padding-right: 20px
                    padding-top: 0
                    sarabun 18
                    +below(1000px)
                        width: 220px
                .search::placeholder
                    color: $verde
                    sarabun 18
                img
                    position: absolute
                    right: 42px
                    top: 9px
                    height: 20px
                    pointer-events: none
                    +below(1000px)
                        right: 13px
