a
    &:hover
        text-decoration: none!important

.wraps_body
    margin-top: 20px
    max-width: 1200px
    margin-left: auto
    margin-right: auto
    .buttons
        display: flex
        width: 620px
        column-gap: 10px
        +below(1200px)
            margin-left: 8%
        +below(760px)
            margin-left: auto
            margin-right: auto
            width: 280px
            flex-direction: column
            row-gap: 15px
        .button1
            display: flex
            justify-content: center
            align-items: center
            width: 300px
            height: 50px
            border 2px solid $verde
            color: $verde
            sarabun 16
            font-weight: 600
            &:hover
                color: white
                background-color: $verde
            +below(760px)
                width: 280px
                sarabun 15
                font-weight: 600
        .button3
            display: flex
            justify-content: center
            align-items: center
            width: 300px
            min-width: 300px
            height: 50px
            border 2px solid $verde
            color: grey
            sarabun 16
            font-weight: 600
            background-color: $verde
            pointer-events: none
            +below(760px)
                min-width: auto
                width: 280px
                sarabun 15
                font-weight: 600
    
    .archives
        margin-top: 45px
        margin-bottom: 40px
        +below(1200px)
            max-width: 95%
            margin-right: auto
            margin-left: auto
        .line1
            display: flex
            column-gap: 5px
            height: 60px
            margin-bottom: 5px
            +below(1200px)
                flex-direction: column
                height: auto
                margin-bottom: 10px
            &:hover > div
                background-color: $verde
                h3
                    color: white
                p
                    color: white
            .card1
                background-color: $verdeBg
                padding-left: 10px
                padding-right: 10px
                width: 600px
                transition: all 0.5s
                +below(1200px)
                    width: 100%
                    text-align: center
                h3
                    sarabun 16
                    color: $dark
                    margin: 0
                    font-weight: 700
                    margin-top: 11px
                p
                    sarabun 12
                    color: $dark
                    margin: 0

            .card2
                background-color: $verdeBg
                padding-left: 10px
                padding-right: 10px
                width: 415px
                transition: all 0.5s
                +below(1200px)
                    width: 100%
                    text-align: center
                h3
                    sarabun 16
                    color: $dark
                    margin: 0
                    font-weight: 700
                    margin-top: 11px
                p
                    sarabun 12
                    color: $dark
                    margin: 0

            .card3
                background-color: $verdeBg
                padding-left: 10px
                padding-right: 10px
                width: 110px
                display: flex
                justify-content: center
                align-items: center
                transition: all 0.5s
                +below(1200px)
                    width: 100%
                    text-align: center
                h3
                    sarabun 16
                    color: $dark
                    margin: 0
                    font-weight: 700
                    +below(1200px)
                        padding-top: 15px

            .card4
                background-color: $verdeBg
                padding-left: 10px
                padding-right: 10px
                width: 60px
                display: flex
                justify-content: center
                align-items: center
                transition: all 0.5s
                +below(1200px)
                    width: 100%
                    text-align: center
                    padding-top: 15px
                    padding-bottom: 10px
                .imagers
                    height: 41px
                    width: 40px
                    background-color: $verde
                    border-radius: 100%
                    border: 2px solid white
                    display: flex
                    justify-content: center
                    align-items: center
                    img
                        height: 20px
                        width: auto
                    

// INSERIR NOVO CERT
.cadastro
    max-width: 960px
    margin-top: 60px
    .tag
        display: flex
        column-gap: 20px
        height: 25px
        +below(1000px)
            flex-direction: column;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            row-gap: 10px
            height: auto
        .passo1
            background-color: $verdeAgua
            color: white
            sarabun 16
            font-weight: 600
            padding-left: 20px
            padding-right: 20px
            p
                margin: 0

        .titulo
            color: $verdeAgua
            sarabun 24
            font-weight: 600
            p
                margin: 0
                margin-top: -7px
                +below(1000px)
                    font-size 20px

    .ficha
        margin-top: 25px
        margin-bottom: 100px
        .linha1
            display: flex
            column-gap: 10px
            height: 30px
            margin-bottom: 10px
            +below(1000px)
                flex-direction: column
                height: auto
            p
                sarabun 16
                margin: 0
                +below(1000px)
                    text-align: center;
                    margin-bottom: 5px;
            input
                background-color: $verdeBg
                border: 0
                width: 600px
                padding-left: 15px
                padding-right: 15px
                +below(1000px)
                    min-height: 30px
                    margin-left: auto
                    margin-right: auto
                    width: 90%
            select
                background-color: $verdeBg
                border: 0
                width: 600px
                padding-left: 15px
                padding-right: 15px
                outline: none
                +below(1000px)
                    min-height: 30px
                    margin-left: auto
                    margin-right: auto
                    width: 90%

        .linha2
            display: flex
            column-gap: 10px
            height: 90px
            margin-bottom: 10px
            +below(1000px)
                flex-direction: column
                height: auto
            p
                sarabun 16
                margin: 0
                +below(1000px)
                    text-align: center;
                    margin-bottom: 5px;
            textarea
                background-color: $verdeBg
                border: 0
                width: 600px
                padding: 15px
                height: 90px
                width: 795px
                +below(1000px)
                    min-height: 90px
                    margin-left: auto
                    margin-right: auto
                    width: 90%

        .bt_salvar
            margin-top: 20px
            background-color: $verde
            display: flex
            justify-content: center
            align-items: center
            color: white
            border: 0
            transition: all 0.3s
            height: 50px
            width: 200px
            sarabun 16
            cursor: pointer
            &:hover
                transform: scale(1.05)
            +below(1000px)
                margin-left: auto
                margin-right: auto
                margin-top: 27px


//Cadastro Parte 2
.bt_pai
    display: flex
    margin-top: 20px
    column-gap: 10px
    +below(1000px)
        margin-left: auto
        margin-right: auto
        margin-top: 27px
        flex-direction: column
        row-gap: 15px
    .bt_salvar2
        background-color: $verde
        display: flex
        justify-content: center
        align-items: center
        color: white
        border: 0
        transition: all 0.3s
        height: 50px
        width: 200px
        cursor: pointer
        sarabun 16
        &:hover
            transform: scale(1.05)
        +below(1000px)
            margin-left: auto
            margin-right: auto

.parte2
    margin-bottom: 100px
    .linha1
        display: flex
        column-gap: 10px
        height: 30px
        margin-bottom: 20px
        margin-top: 25px
        +below(1000px)
            flex-direction: column
            height: auto
        p
            sarabun 16
            margin: 0
            +below(1000px)
                text-align: center;
                margin-bottom: 5px;
        input
            background-color: $verdeBg
            border: 0
            width: 600px
            padding-left: 15px
            padding-right: 15px
            color: $verde
            font-weight: 600
            pointer-events: none
            +below(1000px)
                height: 30px
                margin-left: auto
                margin-right: auto
                width: 90%
    .bt_pai
        display: flex
        margin-top: 20px
        column-gap: 10px
        .bt_salvar
            background-color: $verde
            display: flex
            justify-content: center
            align-items: center
            color: white
            border: 0
            transition: all 0.3s
            height: 50px
            width: 200px
            sarabun 16
            cursor: pointer
            &:hover
                transform: scale(1.05)
            +below(1000px)
                margin-left: auto
                margin-right: auto
                margin-top: 27px

        .bt_excluir
            display: flex
            justify-content: center
            align-items: center
            color: #711211
            border: 2px solid #711211
            transition: all 0.3s
            height: 50px
            width: 200px
            sarabun 16
            cursor: pointer
            background-color: white
            &:hover
                background-color: #711211
                color: white
            +below(1000px)
                margin-left: auto
                margin-right: auto

    .uploads
        display: flex
        column-gap: 18px
        align-items: center
        margin-top: 25px
        +below(1000px)
            flex-direction: column
            row-gap: 10px
        p
            sarabun 16
            margin: 0
        .arquivo
            background-color: $verdeBg
            display: flex
            justify-content: center
            align-items: center
            color: $dark
            border: 1px solid $verde
            transition: all 0.3s
            height: 50px
            width: 300px
            sarabun 16
            cursor: pointer
            margin: 0
            &:hover
                background-color: $verde
                color: white
            +below(1000px)
                margin-left: auto
                margin-right: auto
                margin-top: 27px
                width: 280px

// CLIENTES

.clientes
    max-width: 940px
    margin-top: 50px
    .campo1
        display: flex
        column-gap: 10px
        height: 40px
        align-items: center
        +below(1000px)
            flex-direction: column;
            row-gap: 10px;
            height: auto
        p
            sarabun 16
            font-weight: 500
            color: $dark
            margin: 0
        input
            background-color: $verdeBg
            border: 0
            width: 600px
            padding-left: 15px
            padding-right: 15px
            color: $dark
            font-weight: 500
            height: 40px
            sarabun 16
            +below(1000px)
                height: 40px
                margin-left: auto
                margin-right: auto
                width: 90%
        .button
            background-color: $verde
            display: flex
            justify-content: center
            align-items: center
            color: white
            border: 0
            transition: all 0.3s
            height: 40px
            width: 200px
            sarabun 16
            cursor: pointer
            &:hover
                transform: scale(1.05)
            +below(1000px)
                margin-left: auto
                margin-right: auto
                margin-top: 10px

    .lista
        margin-top: 50px
        margin-bottom: 65px
        .line1
            display: flex
            column-gap: 5px
            height: 30px
            margin-bottom: 5px
            +below(1000px)
                min-height: 30px
                height: auto
            .descricao
                background-color: $verdeBg
                width: 89%
                display: flex
                align-items: center
                p
                    color: $dark
                    margin: 0
                    sarabun 16
                    font-weight: 600
                    text-transform: uppercase
                    padding-left: 10px
                    padding-right: 10px
                    +below(1000px)
                        padding: 10px
            .excluir
                width: 30px
                background-color: $verdeBg
                display: flex
                align-items: center
                justify-content: center
                height: 100%
                .bgvermelho
                    background-color: darkred
                    border-radius: 100%
                    width: 22px
                    height: 22px
                    display: flex
                    justify-content: center
                    align-items: center
                    cursor: pointer
                    border: 0
                    img
                        height: 12px
                        width: auto


.bt_salvar
    background-color: $verde
    display: flex
    justify-content: center
    align-items: center
    color: white
    border: 0
    transition: all 0.3s
    height: 50px
    width: 200px
    sarabun 16
    cursor: pointer
    &:hover
        transform: scale(1.05)
    +below(1000px)
        margin-left: auto
        margin-right: auto
        margin-top: 27px