.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.texto
    *
        &:first-child
            margin-top 0
        &:last-child
            margin-bottom 0
    h3
        sarabun 24 bold
        color $verde
        margin 2em 0 1em
    p
        sarabun 16
    ul
        padding 0
        list-style-type none
        margin 1.2em 0
        li
            sarabun 16
            position relative
            padding-left 1em
            line-height 1.5
            &:before
                content '\00b7'
                position absolute
                left 0
            + li
                margin-top .8em
    a
        color $verde
        text-decoration underline
        &:hover
            text-decoration none
    img
        display block
        max-width 100%
