desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$verde     = #16AE9B
$verdeText = #658B84
$verdeAgua = #9bd1c7
$dark      = #333333
$verdeBg   = #E4EBEA

@import url('https://fonts.googleapis.com/css?family=Sarabun:400,700')

sarabun($size, $weight = normal, $style = normal)
    font-size $rem($size)
    font-family 'Sarabun', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
