.acompanhamento-de-processos
    text-align center
    .table
        text-align left
    .table tr[data-href]:hover td
        background $verde
    p
        sarabun 15
        color #666
        margin 1.5em 0
