.auth
    width 100%
    max-width $rem(450)
    margin 0 auto
    text-align center
    label
        display block
        margin-bottom $rem(15)
        span
            display block
            text-align center
            sarabun 13
            color #666
            margin-bottom 4px
        input
            width 100%
            display block
            border 1px solid #ccc
            outline 0
            padding $rem(6) $rem(8)
            sarabun 13
            color #666
    +above($mobile)
        input[type=submit]
            padding-left $rem(110)
            padding-right $rem(110)
    a
        display block
        sarabun 11
        color #666
        margin-top $rem(25)
        &:hover
            color $verde
