.contato
    margin 0 auto
    padding $rem(100) 0 $rem(70)
    .center
        display flex
        flex-wrap wrap
        justify-content space-between
    .informacoes
        width 450px
        margin-right 50px
        p
            sarabun 16
            margin 0
            &.telefone
                sarabun 24 bold
                padding-left 34px
                background $img('ico-whatsapp.svg') no-repeat left 60%
                background-size 24px
                margin-bottom 70px
    form
        flex 1
        display flex
        flex-wrap wrap
        h2
            sarabun 24
            color $verde
            display block
            width 100%
            margin 0 0 $rem(30)
        .flash
            display block
            width 100%
            padding 15px
            sarabun 13
            margin-bottom 12px
            &.flash-error
                border 1px solid #ca9595
                color #5a2626
                line-height 1.3
            &.flash-success
                background $verde
                color #fff
        .col
            flex 1
            + .col
                margin-left 4px
        input[type=text]
        input[type=email]
        select
        textarea
            width 100%
            display block
            margin-bottom 4px
            border 0
            outline 0
            background $verdeBg
            sarabun 16
            height 38px
            padding 0 12px
            border 1px solid $verdeBg
            color #000
            &:last-child
                margin-bottom 0
            &.error
                border-color #ca9595
        select
            padding 0 4px
        textarea
            width 100%
            height 122px
            resize none
            padding 7px
        input[type=submit]
            display block
            width 100%
            height 38px
            background $verde
            sarabun 16 bold
            color #fff
            border 0
            outline 0
            transition background .3s, color .3s
            cursor pointer
            &:hover
                background lighten($verde, 5)
                color #fff
    .mapa
        width 100%
        height 440px
        margin-top 80px
        float left
        iframe
            display block
            width 100%
            height 100%
    +below($tablet)
        .informacoes
        form
            width 100%
            margin-right 0
    +tablet()
        padding 40px 0
        form
            margin-top 35px
        .informacoes p.telefone
            margin-bottom 20px
        .mapa
            height 360px
            margin-top 50px
    +mobile()
        padding 25px 0
        .mapa
            height 250px
            margin-top 30px
        .informacoes
            margin-right 0
            p
                font-size 13px
                &.telefone
                    font-size 16px
                    margin-bottom 1em
        form
            display block
            margin-top 25px
            .col + .col
                margin 4px 0 0
            input[type=submit]
                width 100%
                height 35px
            h2
                font-size 20px
                margin-bottom 1em
