.home
    .center
        padding $rem(100) 0
        +mobile()
            padding $rem(40) 0
        > img
            display block
            width 100%
            max-width $rem(550)
            margin 0 auto $rem(65)
            +mobile()
                margin-bottom $rem(30)
        .grid
            display grid
            grid-template-columns repeat(3, 1fr)
            img
                width 100%
                display block
            +below(560px)
                grid-template-columns 1fr
