.institucional
    padding $rem(100) 0 $rem(60)
    .center
        display flex
    aside
        width 47.5%
        margin-right $rem(60)
        flex-shrink 0
        img
            display block
            max-width 100%
            + .politicas
                margin-top $rem(56)
                +tablet()
                    margin-top 36px
                +mobile()
                    margin-top 20px
        .politicas
            h2
                sarabun 32
                color $verde
                margin 0 0 1em
            a
                display block
                max-width $rem(400)
                border 1px solid $verde
                padding 12px 28px
                sarabun 16 bold
                text-transform uppercase
                color $verde
                transition background .2s, color .2s
                + a
                    margin-top 4px
                &:hover
                &.active
                    background $verde
                    color #fff
            +tablet()
                h2
                    font-size 26px
                    margin-bottom .5em
                a
                    padding 12px 20px
            +mobile()
                h2
                    font-size 22px
                    margin-bottom .5em
                a
                    font-size 15px
                    padding 12px 16px
    main
        flex 1
        max-width $rem(640)
        margin 0 auto
    +tablet()
        padding $rem(50) 0
        aside
            width 40%
    +mobile()
        padding $rem(30) 0
        .center
            flex-wrap wrap
        aside
            width 100%
            margin-bottom $rem(30)
