.sistema
    padding $rem(100) 0
    +below($tablet)
        padding $rem(50) 0
    h2
        sarabun 24
        color $verde
        margin 0 0 $rem(54)
        text-align center
        +mobile()
            font-size $rem(20)
            margin-bottom $rem(40)
    .grid
        max-width 1040px
        margin 0 auto
        display grid
        grid-template-columns repeat(3, 1fr)
        grid-gap 10px
        +mobile()
            grid-template-columns 1fr
        a
            background-size cover
            background-position center
            background-repeat no-repeat
            min-height 250px
            &:hover div
                background lighten($verde, 3)
            div
                background $verde
                padding 24px 44px
                text-align center
                transition background .2s
                h3
                    sarabun 24
                    color #fff
                    margin 0 0 20px
                    text-transform uppercase
                p
                    margin 0
                    sarabun 16
            +tablet()
                div
                    padding 24px
                    h3
                        font-size $rem(20)
